   <link href="public/stylesheets/"carousel.css" rel="stylesheet">
    <div class="container marketing">

   
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Endeavour Tattoo <span class="text-muted">Live site</span></h2>
          <p class="lead">a site created by Jeremy McCulley and me. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Endeavour Site revamp <span class="text-muted">In development</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
        <a href="http://www.endeavourtattoo.ca/public_html/wp/">  <img class="featurette-image img-responsive center-block" data-src="public/images/endeavourNew.jpg" alt="Endeavour Tattoo New Site"></a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="endeavourNew.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      
</div>