
<% include partials/header %>
<body>
    <% include partials/navbar %>
    
   <h1> Contact Form</h1>
<div class =content>


  <form>
  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname"><br>
  Email: <br>
  <input type= "text" name ="email">
  <br>
  Message: <br>
  <input type= "textbox" name = "message"><br>
  <br>
  <input type = "button" name= "submit" value = "  SUBMIT  "><br>
</form>
    </div>
    </body>
    </html>
<% include partials/footer %>
   
    <script type="text/javascript">
        $(document).ready(function() {
            $('#contact').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
