<!DOCTYPE html>
<html lang="en">
<% include partials/header %>
<body>
    <% include partials/navbar %>
 
    
    <div class="jumbotron">
        <div class="container">
            <h1>Victoria Gillis Portfolio</h1>
            <p>Hello.  This is my portfolio of work. Blah Blah blha, I am not a 
            content writer.  </p>
          
        </div>
    </div>
 
    <div class="container">
        <% include partials/content %>
        <hr>
 
    
    </div>
   
    <script type="text/javascript">
        $(document).ready(function() {
            $('#home').addClass("active");
        });
    </script>
  
    <script src="https://code.jquery.com/jquery.js"></script>
   
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
         <% include partials/footer %>
</body>
</html>
