<!DOCTYPE html>
<html lang="en">
<% include partials/header %>
<body>
    <% include partials/navbar %>
    
    
   </br>
   </br>

  
   
   <%include partials/carousel.ejs %>
    
    <% include partials/footer %>

 <script type="text/javascript">
        $(document).ready(function() {
            $('#projects').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
